.container {

    background: linear-gradient(to bottom, white, #C0C0C0);
    color: white;
    /* width: 1050px;
    height: 1000px; */
    margin-top: 20px;
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;
}


  
 
img {

  
        max-width: 100%;
        height: auto;
     
}

.card{

    margin-top: 20px;
    background-image: url("./images/6-64793_colorful-wallpaper-i-wallpaper-cellphone-wallpaper-simple-background.jpg");
    color: white;
    font-family: Optima, sans-serif;
    font-weight: bolder;
}

body {

    background-image: url("./images/teal-blue-painted-brick-wall-texture.jpg");
}

.bottom {

    margin: 10px;
}

.aboutMe {

    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;
    background: dimgray;
    padding: 50px;


}

.caro {

    
    border: rgb(255, 255, 255) solid 3px;
    border-radius: 25px;
    background: lightsteelblue;
    padding: 20px;


}

.list-group-item {

    font-weight: bolder;
}